<div class="recipe-list-page">
    <div class="container">
        <div class="row my-4 align-items-center">
            <div class="col-lg-6">
                <h1 class="ff-rakkas mb-2 fs-1 text-lg-start text-center page-title">Recipes</h1>
                <p class="text-secondary mb-0 text-lg-start text-center">Discover the tastes around the world</p>
            </div>
            <div class="col-lg-6">
                <form [formGroup]="searchForm" class="d-flex justify-content-lg-end">
                    <input type="text" class="search-input mt-lg-0 mt-3" formControlName="recipeName" 
                           placeholder="Filter recipes…" autocomplete="off" />
                </form>
            </div>
        </div>

        <div class="row py-4 g-4">
            <div *ngFor="let recipe of filteredRecipes" class="col-lg-4 col-md-6">
                <div class="card h-100 border-0 shadow-sm">
                    <img class="card-img-top" [src]="apiUrl + recipe.imageUrl" [alt]="recipe.name">
                    <div class="card-body d-flex flex-column">
                        <h3 class="card-title ff-rakkas mb-2 fs-4">{{ recipe.name }}</h3>
                        <p class="card-text text-muted flex-grow-1 fs-6">{{ recipe.description | firstWords:15 }}</p>
                        <a [routerLink]="'/recipes/details/' + recipe.id" class="btn btn-view-recipe mt-3 align-self-start">
                            View Recipe
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>