<div class="bg-white">
    <section class="page-header-primary">
        <div class="container">
            <h1 class="page-title">Explore Our Recipes</h1>
            <p class="page-subtitle">Discover delicious dishes from around the world</p>
        </div>
    </section>
    
    <div class="container py-3">
        <div class="row g-4">
            <div *ngFor="let recipe of recipes" class="col-lg-4 col-md-6">
                <div class="card">
                    <img [src]="apiUrl + recipe.imageUrl" alt="recipe.name" class="img-fluid rounded-3">
                    <div class="card-body">
                        <h4>{{recipe.name}}</h4>
                        <p class="card-description">{{recipe.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
