<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <!-- Left card header -->
            </div>

            <div class="col-md-6 text-end">
                <!-- right card header -->
                <button type="button" mat-stroked-button color="primary" (click)="newRecipe()">
                    New Recipe
                </button>
            </div>

        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <ngx-datatable [rows]="recipes" default>
                <ngx-datatable-column [name]="'Number'" prop="id"></ngx-datatable-column>
                <ngx-datatable-column [name]="'Recipe Name'" prop="name"></ngx-datatable-column>
                <ngx-datatable-column [name]="'Description'" prop="description"></ngx-datatable-column>

                <ngx-datatable-column [name]="'Edit'">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <button mat-stroked-button color="primary" (click)="editRecipe(row.id)">
                            Edit
                        </button>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column [name]="'Instructions'">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <button mat-stroked-button color="primary" (click)="viewInstructions(row.id)">
                            Instructions
                        </button>
                    </ng-template>
                </ngx-datatable-column>

            </ngx-datatable>
        </div>
    </div>
</div>