.nav-link {
  color: var(--bs-secondary-color) !important;
  font-weight: var(--custom-fw-medium) !important;
  transition: color 0.3s ease !important;
}

.nav-link:hover {
  color: var(--custom-color-primary) !important;
}

.nav-link.active {
  color: var(--custom-color-primary) !important;
  font-weight: var(--custom-fw-semibold) !important;
}
