<ngb-carousel class="hero-carousel" [showNavigationArrows]="true" [showNavigationIndicators]="false">
    <ng-template *ngFor="let recipe of recipes" ngbSlide>
        <div class="carousel-img-wrapper">
            <img [src]="apiUrl + recipe.imageUrl" [alt]="recipe.name" class="d-block" />
        </div>

        <div class="carousel-caption">
            <div class="container">
                <h1 class="fw-bold mb-3">{{recipe.name}}</h1>
                <p class="lead mb-4">{{recipe.description}}</p>
                <div class="d-flex flex-lg-row flex-column justify-content-center gap-3">
                    <a [routerLink]="['/recipes/list']" class="btn custom-btn-primary btn-lg">Explore Recipes</a>
                    <a [routerLink]="['/recipes/details', recipe.id]" class="btn custom-btn-secondary btn-lg">View
                        Recipe</a>
                </div>
            </div>
        </div>
    </ng-template>
</ngb-carousel>