<form [formGroup]="searchForm" class="mt-5">
    <mat-form-field appearance="outline" class="w-100 mb-3 bg-white ff-rakkas">
        <input type="text" matInput formControlName="recipeAutoCompleteControl" [matAutocomplete]="recipeAutoComplete"
            placeholder="Search recipes..." />

        <mat-autocomplete #recipeAutoComplete="matAutocomplete" (optionSelected)="onRecipeSelected($event)">
            <mat-option *ngFor="let suggestedRecipe of suggestedRecipes$ | async" [value]="suggestedRecipe?.id" class="ff-rakkas">
                {{ suggestedRecipe?.displayName }}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>