<div class="card">
    <div class="card-header">
        <button type="button" class="me-2" mat-stroked-button color="warn" (click)="cancel()">Cancel</button>
        <button type="button" mat-stroked-button color="primary" (click)="save()">
            {{ isEditMode ? 'Save' : 'Create' }}
        </button>
    </div>
    <div class="card-body">
        <form [formGroup]="FormGroup">
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" placeholder="Enter recipe name">
            </mat-form-field>

            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description" placeholder="Enter recipe description"></textarea>
            </mat-form-field>

            <div class="card" *ngIf="recipe?.instructions.length >= 1">
                <div class="card-header">
                    <h2 class="m-0 text-center fw-bold">Details</h2>
                </div>
                <div class="card-body">
                    <p><strong>Name:</strong> {{ recipe.name }}</p>
                    <p><strong>Description:</strong> {{ recipe.description }}</p>
                    <table class="table table-bordered table-striped table-sm">
                        <thead>
                            <tr>
                                <th class="w-75">Text</th>
                                <th class="w-25">Order</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let instruction of recipe.instructions">
                                <td>{{instruction.text}}</td>
                                <td>{{instruction.order}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>