<div class="card">
    <div class="card-header">
        <button type="button" class="me-2" mat-stroked-button color="warn" (click)="cancel()">Cancel</button>
        <button type="button" mat-stroked-button color="primary" (click)="save()">
            {{ isEditMode ? 'Save' : 'Create' }}
        </button>
    </div>
    <div class="card-body">
        <form [formGroup]="FormGroup">
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" placeholder="Enter recipe name">
            </mat-form-field>

            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description" placeholder="Enter recipe description"></textarea>
            </mat-form-field>
        </form>
    </div>
</div>