<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-6 border">

        <button type="button" class="me-2" mat-stroked-button color="warn" (click)="cancel()">
          Cancel
        </button>

        <button type="button" class="me-2" mat-stroked-button color="primary" (click)="createRecipe()">
          Create
        </button>

      </div>
      <div class="col-md-6 border">
        right card header
      </div>
    </div>
  </div>
  <div class="card-body">

    <form [formGroup]="recipeFormGroup">

      <div class="row">
        <div class="col-md-6 border">

          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" placeholder="Enter recipe name">
          </mat-form-field>

        </div>
        <div class="col-md-6 border">
          right card body
        </div>
      </div>


    </form>

  </div>
</div>